#contact_modal {
  display: none;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}
.logo {
  height: 50px;
  margin-left: 100px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: #f0e8e8;
  box-shadow: black 0px 0px 10px;
  position: fixed;
  z-index: 1;
  top: 0;
}

.photograph-header {
  background-color: #f1f1f1;
  height: 300px;
  margin: 120px 100px;
}
.photograph-portrait {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photograph-portrait article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_button {
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 30px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.photographer_img {
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px;
  cursor: auto !important;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
