#contact-modal {
  display: none;
}
#modal-contact-title {
  font-size: 3em;
  text-align: start;
  padding-bottom: 20px;
}
.formData {
  margin: 0;
}
.first-name {
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: #000;
}

i {
  padding-left: 3px;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}
.logo {
  height: 50px;
  margin-left: 100px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: white;
}

.photograph-header {
  background-color: white;
  height: 300px;
  margin: 50px 100px 100px 120px;
  display: flex;
}
.photographer-name {
  font-weight: 400;
  color: #d3573c;
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 0px;
}
.photographer-city {
  font-size: 1.2rem;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #901c1c;
}

.photograph-medias {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.photo-container,
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.photo,
.video {
  width: 400px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.mySlides {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh;
}

.photo-modal {
  width: auto;
  height: 80vh;
  cursor: auto !important;
}
.video-modal {
  width: 90vh;
  height: 90vh;
  cursor: auto !important;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  z-index: 5;
  color: #901c1c;
  font-size: 60px;
  margin: 30px;
}
.next {
  position: relative;
  right: 35px;
}

.photo-title,
.video-title {
  color: #901c1c;
  width: 400px;
  margin: auto;
  font-size: 1.2rem;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.photo-likes,
.video-likes {
  margin: 0px;
  cursor: pointer;
}
i {
  margin-left: 5px;
}

.photograph-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.contact-button {
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 140px;
  height: 60px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  position: absolute;
  top: 240px;
  right: 45%;
  z-index: 1;
  cursor: pointer;
}

.modal-contact-button {
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 160px;
  height: 60px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}

.modal {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 25%;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.photographer-img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  right: 145px;
}

.modal header {
  background-color: #db8876;
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  margin-top: -50px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  padding-left: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 5px;
  resize: none;
}

.photographer-price {
  position: sticky;
  bottom: 0px;
  right: 10px;
  margin-left: 80%;
  padding: 10px;
  width: 225px;
  background-color: #db8876;
  text-align: center;
  font-size: 1.1rem;
  clear: both;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

/* The Modal (background) */
.modalPicture {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
  background-color: white;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  height: auto;
  max-width: 1200px;
}

.close {
  position: relative;
  bottom: 47%;
  right: -10px;
  color: #901c1c;
  font-size: 40px;
}

.photo-modal-title {
  color: #901c1c;
  width: 38%;
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.close:hover,
.close:focus,
.next:hover,
.next:focus,
.prev:hover,
.prev:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: #ab0f0f;
  font-size: 15px;
}
.success {
  display: none;
}
.valid {
  border: #0bce39 solid 3px;
}
.invalid {
  border: #ab0f0f solid 3px;
}

.custom-select {
  width: 90%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  margin: auto;
}

.order-label {
  margin-right: 20px;
}

select {
  background-color: #901c1c;
  color: #fefefe;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font: inherit;
  padding-left: 10px;
}

select option {
  background-color: #901c1c;
  color: #fefefe;
}
