body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus {
  padding: 10px;
  outline: 4px solid #901c1c;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: white;
}
.logo {
  height: 50px;
  margin-left: 100px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1050px) {
  .photographer-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .photographer-section {
    grid-template-columns: 1fr;
  }
  .logo {
    margin-left: 30px;
  }
  h1 {
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .logo {
    margin: 15px 0px;
  }
  h1 {
    margin: 0;
  }
}

.photographer-section a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-section a h2 {
  font-weight: 400;
  color: #d3573c;
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.photographer-section a img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.photographer-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 0.75rem;
}

.photographer-city {
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0px;
  color: #901c1c;
}

.photographer-price {
  color: #525252;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.fetch-error {
  color: red;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
